.cover{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
    min-height: calc(100vh - 8rem);
}
.cover-texts{
    position: relative;
}

.cover-texts::before{
    content: '¡Hola!';
    font-size: 12rem;
    position: absolute;
    transform: translateY(-30%);
    z-index: 4;
    opacity: 10%;
}
.cover-nombre{
    font-size: 2.5rem;
    word-wrap: break-word;
    flex:1;
    z-index: 4;
}
.cover-caption{
    font-size: 1rem;
}
.cover-miImagen{
    width: 20rem;
    order: 1;
}

@media only screen and (max-width: 500px) {
    .cover-texts::before{
        font-size: 6rem;
        transform: translateY(0%);
    }
}