.MenuDesplegable{
    position:fixed;
    width:70vw;
    height:100vh;
    left: 0px;
    top: 0px;
    background-color: var(--Text-color);
    flex-direction: column;
    align-items: center;
    color: var(--Hover-color);
    padding: 5rem 1rem 1rem 1rem;
    display:none;
    z-index: 5;
    background-image: url('../imgs/CirculoCuadradoTriangulo.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 30px #000000 ;
}

.Active{
    visibility: visible;
    display: flex;
}

.MenuDesplegable a{
    color: var(--Hover-color);
    width: 100%;
    padding: 1rem 0.4rem 1rem 0.4rem;
    margin-bottom: 1rem;
    display:flex;
    align-items: center;
}

.MenuDesplegable a:hover,
.MenuDesplegable a:active{
    background-color: var(--Enfasis-Color);
    color: var(--Text-color);
}

.MenuDesplegable a::before{
    content:'';
    display:inline-block;
    width: 35px;
    height:35px;
    margin-right: 1rem;
    background-repeat: no-repeat;
    background-position: center left;
}

a:nth-child(1)::before{
    background-image: url('https://img.icons8.com/ios-glyphs/30/ffffff/person-male.png');
}

a:nth-child(2)::before{
    background-image: url('https://img.icons8.com/ios-filled/30/ffffff/windows10-personalization.png');
}

a:nth-child(3)::before{
    background-image: url('https://img.icons8.com/fluency-systems-filled/30/ffffff/contact-card.png');
}

/*Movil*/
@media only screen
and (min-width: 320px)
and (max-width: 736px)
{
    .Lista{
        visibility: hidden;
    }

    .Hamburguer{
        visibility: visible;
        background-color: transparent;
    }

    .Hamburguer img{
        height: 2rem;
        width: 2rem;
    }

    .Texto{
        display: none;
    }
}