:root{
    --Dimensiones-Item: 22rem;
}

.Container{
    min-height: calc(8rem - 100vh);
    display: flex;
    padding: var(--md-padding);
    padding-top: 6rem;
    flex-direction: column;
    justify-content: center;
}
.Container h1{
    margin-bottom: 4rem;
}


.Grid{
    display: flex;
    align-items: center;
    justify-content: left;
    overflow-x: auto;
    gap: 10%;   
    width: 100%;
    z-index: 1;
    /*Scrollbar*/
    scrollbar-color: transparent transparent;
    scrollbar-width: 0px;
    cursor: grab;
    user-select: none;
}

.Item{
    min-width: var(--Dimensiones-Item);
    height: var(--Dimensiones-Item);
    position: relative;
    border-radius: var(--border-radius);
}

.Item img{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit; 
}

.Item .Descripcion{
    transform: scale(0);
}


.Item:hover .Descripcion{
    transform: scale(1);
}

.BotonPrimario{
    background-color: var(--Enfasis-Color);
    color: var(--Text-color);
}


.BotonSecundario,
.BotonSecundario:hover{
    text-decoration: none;
    background-color: transparent;
    color: var(--Enfasis-Color);
}


.Item .Descripcion{
    transition: transform 0.25s;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    z-index: 20;
    color: var(--Hover-color);
    left: 0;
    top: 0;
    width: var(--Dimensiones-Item);
    height: var(--Dimensiones-Item);
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: inherit;
}


/*Break points*/
/*Movil*/
@media only screen and (max-width: 599px)
{
    :root{
        --Dimensiones-Item: 15rem;
    }
    .Container{
        padding: var(--xs-padding);
    }
    .Item{
        margin-bottom: 2rem;
    }
    .Descripcion{
        font-size: 0.8rem;
    }
}