.Lista a:active .MenuDesplegable{
    height: 0px;
}

.AcercaDe,
.herramientas,
.Actividades,
.CosasQuePuedoHacer,
.Actividades{
    padding: var(--md-padding);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.AcercaDe{
    background: var(--Gradiente-yellow);
}


.AcercaDe p:nth-of-type(1){
    font-weight: bold;
}

.btn{
    color: var(--Hover-color);
}

.btn:active{
    background-color: var(--Enfasis-Color);
}

/*Breakpoints*/

/*Ordenador*/
@media (min-width:1200px){
    .RedesSociales
    {
        font-size: 1vw;
    }
}
/*Tableta*/
@media only screen and (max-width: 959px){
    .Cover{
        padding: 0rem 3rem 0rem 3rem;
    }
    .AcercaDe,
    .herramientas,
    .Actividades,
    .CosasQuePuedoHacer,
    .Actividades{
        padding: var(--xs-padding);
    }

    .CuerpoCoverPage{
        min-height: auto;
    }
    
}

/*Movil*/
@media only screen and (max-width: 599px) 
{
    .Cover{
        align-content: center;
    }
    .AcercaDe,
    .herramientas,
    .Actividades,
    .CosasQuePuedoHacer,
    .Actividades{
        padding: var(--xs-padding);
    }
    
    .Actividades div{
        font-size: 1rem;
    }
}
