@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

/*Estilos Generales*/
body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #d6d6d6;
    font-family: 'Libre Baskerville';
    min-height: 100vh;
}

.CuerpoCoverPage{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    border-bottom: 1px solid #202020;
    margin: 0rem 3rem 0rem 3rem;
}
.LogoTexto{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Logo
{
    background-image: url('../imgs/MiCaricaturaIcono.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 5rem;
    height: 5rem;
}

.Texto{
    white-space: nowrap;
    display: block;
}

main{
    min-height: calc(100vh - 8rem);
    display: flex;
    align-items: center;
}

.Cover{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.AcercaDe{
    padding: 3rem;
}

a
{
    text-decoration: none;
}

.btn{
    background-color: #202020;
    color: #f5f3ef;
}

.btn:hover{
    background-color: #ffd100;
    color: #202020;
}

.RedesSociales
{
    font-family: europa, sans-serif;  color: #202020;
    
}

a:hover
{
    color:#000000;
    font-family: 'Libre Baskerville' ;
}

.enlace:hover{
    color: #f5f3ef;
}

/*Proyectos*/
.CardTitulo
{
    font-family: 'Libre Baskerville';
}

.CardCuerpo
{
    font-family: wuropa, sans-serif;
}

/*Breakpoints*/

/*Ordenador*/
@media (min-width:1200px){
    .Nombre{
        font-size: 8rem;
    }
    .MiImagen
    {
        width: 30vw;
    }
    .RedesSociales
    {
        font-size: 1vw;
    }

}
/*Tableta*/
@media (min-width:768px){
    .Nombre{
        font-size: 7.5vw;
    }
    .CuerpoCoverPage{
        min-height: auto;
    }

    .MiImagen{
        width: 30vw;
    }
}

/*Movil*/
@media only screen
and (min-width: 320px)
and (max-width: 736px)
{
    .Texto{
        display: none;
    }
    
    .Nombre{
        font-size: 2rem;
        text-align: center;
        order: 2;
        
        width: 100%;
    }

    .MiImagen{
        width: 70vw;
        order: 1;
    }
}
