.Lista a:active .MenuDesplegable{
    height: 0px;
}



.AcercaDe,
.Herramientas,
.Actividades,
.CosasQuePuedoHacer,
.Actividades{
    padding: var(--md-padding);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.AcercaDe{
    background: var(--Gradiente-yellow);
}


.AcercaDe p:nth-of-type(1){
    font-weight: bold;
}

.btn{
    color: var(--Hover-color);
}

.btn:active{
    background-color: var(--Enfasis-Color);
}
/*Herramientas*/
.Herramientas{
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Herramientas img{
    width:40%;
}


/*Breakpoints*/

/*Ordenador*/
@media (min-width:1200px){
    .RedesSociales
    {
        font-size: 1vw;
    }
    .Herramientas h1{
        font-size: 4rem;
    }
}
/*Tableta*/
@media only screen and (max-width: 959px){
    .Cover{
        padding: 0rem 3rem 0rem 3rem;
    }
    .AcercaDe,
    .Herramientas,
    .Actividades,
    .CosasQuePuedoHacer,
    .Actividades{
        padding: var(--xs-padding);
    }

    .CuerpoCoverPage{
        min-height: auto;
    }
    
    .Herramientas img{
        width:100%;
    }
}

/*Movil*/
@media only screen and (max-width: 599px) 
{
    .Cover{
        align-content: center;
    }
    .AcercaDe,
    .Herramientas,
    .Actividades,
    .CosasQuePuedoHacer,
    .Actividades{
        padding: var(--xs-padding);
    }
    
    .Herramientas{
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 4rem;
    }
    .Herramientas img{
        width: 100%;
    }
    
    .Actividades div{
        font-size: 1rem;
    }
}
