:root{
    /*Colores*/
    --Bg-color: #d6d6d6;
    --Text-color: #202020;
    --Hover-color: #f5f3ef;
    --Enfasis-Color: #FFD100;

    /*Padding*/
    --md-padding: 8rem 8rem 8rem 8rem;
    --xs-padding: 4rem 4rem 4rem 4rem;

    /*Border radius*/
    --border-radius:14px;
}
