.mlsa, .cit, .edTeam{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.mlsa:hover{
    background-image: url(https://techcommunity.microsoft.com/t5/image/serverpage/image-id/241622i55A6A82D9CCC19DD);
}

.cit:hover{
    background-image: url('../../../../public/activity/creative.png');
}

.edTeam:hover{
    background-image: url('../../../../public/activity/ed-team.jpg');
}