@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body
{
    font-family: 'Libre Baskerville';
}

.t-h2{
    font-size: 64px;
}

.t-h3{
    font-size: 32px;
}

.t-h3{
    font-size: 32px;
}

.t-h4{
    font-size: 24px;
}