.thumbnail{

    width: 64px;
    height: 64px;
}

.thumbnail-xs{
   width: 24px;
    background-size: 24px 24px;
    height: 24px;
}

$numero-thumbnails: 20;

@for $i from 1 through $numero-thumbnails {
    
  .thumbnail-#{$i} {
    background-image: url('../../public/tools-svg/#{$i}.svg');
  }
}