@import '../../styles/breakpoints.scss';

.logo{
    width: 4rem;
    height: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../public/mybrand/logo-black.svg');
}

.nav{
    @include media-breakpoint('gt-sm'){
        display: block;
    }
    display: none;
}

.side{
    @include media-breakpoint('gt-sm'){
        display: none;
    }
    display: block;
}

.burguerMenu{
    width: 32px;
    height: 32px;
    margin-right: 4px;
    
    background-position: center;
    background-repeat: no-repeat;
}

.open{
    background-image: url('../../../public/icon/hamburguer-menu.svg');
}

.close{
    background-image: url('../../../public/icon/close.svg') ;
}